@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> _userManager;
@inject RoleManager<IdentityRole> _roleManager;

@{
    var listaUsuarios = ViewData["Usuarios"] as List<AppUser>;
}
<style type="text/css">
    @@media (max-width: 450px) {
        .priority5 {
            display: none;
        }
    }
    @@media (max-width: 560px) {
        .priority4 {
            display: none;
        }
    }
</style>
<h3><i class="fas fa-users"></i>&nbsp;Lista de Usuarios</h3>
<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive-lg table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"><i class="fas fa-at"></i>&nbsp;Correo</th>
                        <th class="priority5" scope="col"><i class="fas fa-building"></i>&nbsp;Empresa</th>
                        <th class="priority4" scope="col"><i class="fas fa-copyright"></i>&nbsp;Razón Social</th>
                        <th class="priority4" scope="col"><i class="fas fa-id-card"></i>&nbsp;Contacto</th>
                        <th scope="col" class="text-center"><i class="far fa-edit"></i>&nbsp;Acciones</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var user in listaUsuarios)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td class="priority5">@user.Empresa.NombreEmpresa</td>
                        <td class="priority4">@user.Empresa.RazonSocial</td>
                        <td class="priority4">@user.Empresa.PersonaContacto</td>
                        <td class="text-center">
                            <a class="btn-sm btn-info" asp-controller="Empresas" asp-action="EditarUsuario" asp-route-userId="@user.Id">Editar</a>
                            <a class="btn-sm btn-danger text-white">Borrar</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <a asp-controller="Empresas" asp-action="CrearUsuario" class="btn btn-success"><i class="fas fa-user-plus"></i>&nbsp;Crear Usuario</a>
    </div>
</div>