@using Microsoft.AspNetCore.Identity
@using Packing.Mvc.Models.Pedidos
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Index";
    var Notificaciones = ViewData["Notificaciones"] as List<Notificacion>;
    var NotificacionPedido = (bool)ViewData["HayPedidosPendientes"];
    var NotificacionCambioDatos = (bool)ViewData["HaySolicitudesPendientes"];
    var PedidosEnSistema = ViewData["Pedidos"] as List<Pedido>;
}
<div class="container-fluid">
    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Administrador"))
    {
        if (Notificaciones.Count > 0)
        {
            <div class="text-center">
                <h4 class="display-4">Bienvenido, tiene notificaciones sin revisar</h4>
            </div>
            <hr />
        }
        if (NotificacionPedido)
        {
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info">
                        <h5>
                            <i class="fas fa-exclamation-circle"></i>&nbsp;Tiene nuevos pedidos sin procesar &nbsp;
                            <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Pedidos">
                                <i class="far fa-list-alt"></i>&nbsp;Ir a Pedidos
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        }
        if (NotificacionCambioDatos)
        {
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger">
                        <h5>
                            <i class="fas fa-exclamation-triangle"></i>&nbsp;Algunos usuarios han solicitado cambio de datos &nbsp;
                            <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="ConfiguracionUsuario">
                                <i class="far fa-list-alt"></i>&nbsp;Ir a Usuarios
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        }
        <hr />
        <h4><i class="fas fa-info"></i>&nbsp;Accesos directos</h4>
        <hr />
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p-3">
                <div class="card bg-light" style="width: 18rem;">
                    <br />
                    <div class="text-center">
                        <h2>
                            <i class="card-img-top fas fa-users fa-3x"></i>
                        </h2>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Usuarios</h5>
                        <a asp-controller="Home" asp-action="ConfiguracionUsuario" class="btn btn-primary">Ir a usuarios</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3">
                <div class="card bg-light" style="width: 18rem;">
                    <br />
                    <div class="text-center">
                        <h2>
                            <i class="card-img-top fas fa-carrot fa-3x"></i>
                        </h2>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Productos</h5>
                        <a asp-controller="Home" asp-action="VistaProductos" class="btn btn-primary">Ir a productos</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3">
                <div class="card bg-light" style="width: 18rem;">
                    <br />
                    <div class="text-center">
                        <h2>
                            <i class="card-img-top far fa-list-alt fa-3x"></i>
                        </h2>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Pedidos</h5>
                        <a asp-controller="Home" asp-action="Pedidos" class="btn btn-primary">Ir a pedidos</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3">
                <div class="card bg-light" style="width: 18rem;">
                    <br />
                    <div class="text-center">
                        <h2>
                            <i class="card-img-top far fa-user fa-3x"></i>
                        </h2>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Perfil</h5>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-primary">Ir a mi perfil</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3">
                <div class="card bg-light d-flex justify-content-center" style="width: 18rem;">
                    <br />
                    <div class="text-center">
                        <h2>
                            <i class="card-img-top far fa-bell fa-3x"></i>
                        </h2>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Notificaciones</h5>
                        <a asp-controller="Notificaciones" asp-action="Index" class="btn btn-primary">Ir a mi centro de notificaciones</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3">
                <div class="card bg-light d-flex justify-content-center" style="width: 18rem;">
                    <br />
                    <div class="text-center">
                        <h2>
                            <i class="card-img-top fas fa-cogs fa-3x"></i>
                        </h2>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Configuraciones</h5>
                        <a asp-controller="Notificaciones" asp-action="Index" class="btn btn-primary">Ir a configuraciones</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        if (PedidosEnSistema.Count > 0)
        {
            <h3><i class="fas fa-shopping-cart"></i>&nbsp;Tus pedidos</h3>
            <hr/>
            <div class="row">
                <div class="col-12">
                    <table id="tablaPedidos" class="table table-responsive-lg table-striped table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Empresa</th>
                            <th class="priority5" scope="col">Fecha Ingreso</th>
                            <th class="priority4" scope="col">Estado</th>
                            <th class="priority3" scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var pedido in PedidosEnSistema)
                        {
                            <tr>
                                <td class="text-center">@pedido.EmpresaMandante.NombreEmpresa</td>
                                <td class="text-center">@pedido.FechaPedido.ToString("dd/MM/yyyy")</td>
                                <td class="text-center">@pedido.Estado.NombreEstado</td>
                                <td class="text-center">
                                    <a class="btn-sm btn-info" asp-controller="Pedidos" asp-action="EditarPedido" asp-route-guidPedido="@pedido.GuidPedido">Detalles</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-info text-center">
                <h5><i class="fas fa-exclamation-circle"></i>&nbsp;No tienes ningún pedido registrado en sistema.</h5>
            </div>
        }
        <div class="row col-12 d-flex justify-content-center">
            <a class="btn btn-success" id="nuevoPedido" asp-controller="Pedidos" asp-action="Grupos"><i class="fas fa-user-plus"></i>&nbsp;Ingresar nuevo pedido</a>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tablaPedidos').DataTable({
                responsive: true,
                order: [[0, 'desc']],
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todo"]],
                stateSave: true,
                dom: 'Bfrtip',
                buttons: ['excel', 'pdf'],
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
                }
            });
            BuscarPedidos();
        });

        function BuscarPedidos() {
            $.ajax({
                url: "@Url.Action("ObtenerPedidos","Pedidos")",
                type: 'POST',
                async: true,
                success : function(data) {
                    let results = $.parseJSON(JSON.stringify(data));
                    console.table(results);
                }, error : function(response) {
                    Swal.fire({
                        title: '¡Error!',
                        text: response.responseText,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    });
                }
            });
        }

    </script>
}