@using Packing.Mvc.Models.Pedidos
@using Packing.Mvc.Models.Empresas
@using Packing.Mvc.Models.Usuarios
@{
    ViewData["Title"] = "Listado de pedidos";
    var Pedidos = ViewData["Pedidos"] as List<Pedido>;
    var Empresas = ViewData["Empresas"] as List<Empresa>;
    var Cosecheros = (ViewData["Cosecheros"] as List<UsuarioInterno>)?? new List<UsuarioInterno>();
    var Jefes = (ViewData["JefesDePacking"] as List<UsuarioInterno>)?? new List<UsuarioInterno>();
}
<h3>&nbsp;Pedidos en sistema</h3>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="desdeFecha" class="col-form-label">Desde</label>
                <input id="desdeFecha" type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="hastaFecha" class="col-form-label">Hasta: </label>
                <input id="hastaFecha" type="date" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="desdeFecha" class="col-form-label">Empresa</label>
                <select id="empresaId" class="form-control">
                    <option value="0">--Seleccione empresa --</option>
                    @foreach (var empresa in Empresas)
                    {
                        <option value="@empresa.IdEmpresa">@empresa.NombreEmpresa</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row col-12 text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-info" onclick="FiltrarDatos()"><i class="fas fa-filter"></i>&nbsp;Filtrar</button>
        </div>
    </div>
    <h4><i class="fas fa-boxes"></i>&nbsp;@ViewData["Title"]</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            @if (Pedidos is not null)
            {
                @if (!Pedidos.Any())
                {
                    <div class="alert alert-warning text-center"><h4><i class="fas fa-info-circle"></i>&nbsp;No existen pedidos ingresados.</h4></div>
                }
                else
                {
                    <table id="tablaPedidos" class="table table-responsive-lg table-striped table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Empresa</th>
                            <th class="priority5" scope="col">Fecha Ingreso</th>
                            <th class="priority4" scope="col">Estado</th>
                            <th class="priority3" scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var pedido in Pedidos)
                        {
                            <tr>
                                <td>@pedido.EmpresaMandante.NombreEmpresa</td>
                                <td class="priority5">@pedido.FechaPedido.ToShortDateString()</td>
                                <td class="priority4">@pedido.Estado.NombreEstado</td>
                                <td class="text-center">
                                    <a class="btn-sm btn-info" asp-controller="Pedidos" asp-action="EditarPedido" asp-route-guidPedido="@pedido.GuidPedido">Detalles</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            }
            else
            {
                <div class="alert alert-warning text-center"><h4><i class="fas fa-info-circle"></i>&nbsp;Ha ocurrido un error al recuperar los pedidos.</h4></div>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 text-center alert alert-info">
            <h5><i class="fas fa-wrench"></i>&nbsp;Opciones de información para trabajadores</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @if (Cosecheros.Count > 0)
            {
                <div class="form-group">
                    <label class="col-form-label">Seleccione cosechero</label>
                    <select class="form-control">
                        <option value="0">--SIN ASIGNAR--</option>
                        @foreach (var cosechero in Cosecheros)
                        {
                            <option value="@cosechero.IdUsuario">@cosechero.NombreUsuario</option>
                        }
                    </select>
                </div>
            }
            else
            {
                <div class="alert alert-warning text-center"><h4><i class="fas fa-info-circle"></i>&nbsp;No tienes cosecheros ingresados al sistema.</h4></div>
            }
        </div>
        <div class="col-md-6">
            @if (Jefes.Count > 0)
            {
                <div class="form-group">
                    <label class="col-form-label">Seleccione jefe de packing</label>
                    <select class="form-control">
                        <option value="0">--SIN ASIGNAR--</option>
                        @foreach (var jefe in Jefes)
                        {
                            <option value="@jefe.IdUsuario">@jefe.NombreUsuario</option>
                        }
                    </select>
                </div>
            }
            else
            {
                <div class="alert alert-warning text-center"><h4><i class="fas fa-info-circle"></i>&nbsp;No tienes jefes de packing ingresados al sistema.</h4></div>
            }
        </div>
    </div>
    @if (Jefes.Count > 0 && Cosecheros.Count > 0)
    {
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-success"><i class="far fa-file-pdf"></i>&nbsp;Obtener información</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-success" href="https://wa.me/56944194679?text=Necesito%2015000%20repollos%20para%20cosechar%20" target="_blank" rel="noopener"><i class="fab fa-whatsapp"></i>&nbsp;Enviar información</a>
            </div>
        </div>
    }
    <button class="btn" onclick="AgruparPedidos()">Evaluar</button>
    <hr />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <link rel="stylesheet" href="/js/pickadate/themes/default.css"/>
    <link rel="stylesheet" href="/js/pickadate/themes/default.date.css"/>
    @*<link rel="stylesheet" href="/js/pickadate/themes/rtl.css"/>*@
    <script type="text/javascript" src="/js/pickadate/picker.js"></script>
    <script type="text/javascript" src="/js/pickadate/picker.date.js"></script>
    <script type="text/javascript" src="/js/pickadate/translations/es_ES.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tablaPedidos').DataTable({
                responsive: true,
                order: [[0, 'desc']],
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todo"]],
                stateSave: true,
                dom: 'Bfrtip',
                buttons: ['excel', 'pdf'],
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
                }
            });
            $('#desdeFecha').pickadate({
                
            });
            $('#hastaFecha').pickadate({

            });
        });

        function AgruparPedidos() {
            $.ajax({
                url: '@Url.Action("ObtenerCantidadACosechar","Reporteria")',
                type: 'POST',
                async: true,
                success: function() {
                    console.log('exito');
                }, error: function() {

                }
            });
        }

        function FiltrarDatos() {
            Swal.fire({
                title: 'Información',
                text: 'Esta caracteristica estará disponible en la segunda iteración.',
                icon: 'info',
                confirmButtonText: 'Ok'
            });
        }
    </script>
}