@using Packing.Mvc.Data.Migrations
@{
    var Notificaciones = ViewData["Notificaciones"] as List<Notificacion>;
}
<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @if (Notificaciones.Count <= 0)
            {
                <div class="alert alert-warning text-center"><h4><i class="fas fa-info-circle"></i>&nbsp;No existen notificaciones sin leer.</h4></div>
            }
            else
            {
            <table id="tablaNotificaciones" class="table table-responsive-lg table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fecha ingresada</th>
                        <th class="priority5" scope="col">Tipo Notificacion</th>
                        <th class="priority4" scope="col">Información</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var notificacion in Notificaciones)
                {
                    <tr>
                        <td class="priority5">@notificacion.FechaIngresada</td>
                        <td class="priority4">@notificacion.NombreNotificacion</td>
                        <td class="priority4">@notificacion.MensajeNotificacion</td>
                        <td class="text-center">
                            <a class="btn-sm btn-info" onclick="ActualizarNotificacion('@notificacion.GuidNotificacion')">Confirmar</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="modalInformacionNotificacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información de notificación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label" for="nuevoNombrePresentacion">Nombre</label>
                                <input class="form-control" type="text" id="nuevoNombrePresentacion" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#tablaNotificaciones').DataTable({
                responsive: true,
                order: [[0, 'desc']],
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todo"]],
                stateSave: true,
                dom: 'Bfrtip',
                buttons: ['excel', 'pdf'],
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
                }
            });
        });

        function CargarInformacionNotificacion(idNotificacion) {

        }

        function ActualizarNotificacion(cabecera) {
            const dataString = "{ \"cabecera\" : \"" + cabecera + "\" }";
            $.ajax({
                url: "@Url.Action("ActualizaNotificado","Notificaciones")",
                async: true,
                data: dataString,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                success: function() {
                    Swal.fire({
                        title: '¡Exito!',
                        text: 'Se ha actualizado la notificación.',
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    }).then(function() {
                        location.reload();
                    });
                },
                error: function(response) {
                    Swal.fire({
                        title: '¡Error!',
                        text: response.responseText,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                }
            });
            alert(cabecera);
        }

    </script>
}
