@using Packing.Mvc.Models.Pedidos
@using Microsoft.AspNetCore.Identity
@using Packing.Mvc.Models.Empresas
@using System.Text
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    var guidPedido = ViewData["PedidoId"] as string;
    var Pedido = ViewData["Pedido"] as Pedido;
    var Estados = ViewData["Estados"] as List<EstadoPedido>;
    var Empresa = ViewData["Empresa"] as Empresa;
    var CorreosContacto = string.Empty;
    var TelefonosContacto = string.Empty;
    var builderText = new StringBuilder();
    var esAdmin = await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Administrador");
    if (esAdmin)
    {
        foreach (var telefono in (ViewData["TelefonosContacto"] as List<string>).Where(telefono => !builderText.ToString().Contains(telefono?? string.Empty)))
        {
            builderText.Append(telefono + " - ");
        }
        TelefonosContacto = builderText.ToString();
        builderText.Clear();
        foreach (var correos in (ViewData["CorreosContacto"] as List<string>).Where(correos => !builderText.ToString().Contains(correos?? string.Empty)))
        {
            builderText.Append(correos + " - ");
        }
        CorreosContacto = builderText.ToString();
    }
}
@if (!esAdmin)
{
    <a class="btn-sm btn-info" asp-controller="Home" asp-action="Index"><i class="fas fa-arrow-left"></i>&nbsp;Volver atrás</a>
    <br />
    <br/>
}
<h2><i class="far fa-edit"></i>&nbsp;Editar Pedido</h2>
<hr />
<div class="container-fluid">
    @if (Pedido.Estado.IdEstadoPedido == 5)
    {
        <div class="alert alert-danger text-center" id="alertaRechazo"><h4>ESTE PEDIDO HA SIDO RECHAZADO POR GERENTA DE OPERACIONES.</h4></div>
    }
    @if (esAdmin)
    {
        <h5><i class="far fa-building"></i>&nbsp;Datos de la empresa</h5>
        <div id="infoEmpresa" class="p-3 rounded-left border-left border-right" style="background-color: #F1F6F9">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label">Empresa</label>
                        <input id="nombreEmpresa" type="text" class="form-control" value="@Empresa.NombreEmpresa" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label">Persona de contacto</label>
                        <input id="personaContacto" type="text" class="form-control" value="@Empresa.PersonaContacto" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label">Telefonos de contacto</label>
                        <input id="telefonoEmpresa" type="text" class="form-control" value="@TelefonosContacto" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label">Email</label>
                        <input id="emailEmpresa" type="text" class="form-control" value="@CorreosContacto" disabled />
                    </div>
                </div>
            </div>
        </div>
        <hr />
    }
    <h5><i class="fas fa-shopping-cart"></i>&nbsp;Datos del pedido</h5>
    <div id="datosPedido" class="row p-3">
        <div class="col-md-12">
            <table id="tablaPedidoInfo" class="table table-responsive-lg table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Producto</th>
                        <th class="priority5" scope="col">Formato</th>
                        <th class="priority4" scope="col">Presentación</th>
                        <th class="priority3" scope="col">Cantidad</th>
                        <th class="priority2" scope="col">Unidades</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var producto in Pedido.ProductosEnPedido)
                    {
                        <tr>
                            <td>@producto.ProductoInterno.NombreProducto</td>
                            <td class="priority5">@producto.ProductoInterno.Formato.NombreFormato</td>
                            <td class="priority4">@producto.ProductoInterno.Presentacion.NombrePresentacion</td>
                            <td class="text-center">@producto.Cantidad</td>
                            <td class="text-center">@producto.CantidadTotales</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    @if (esAdmin && Pedido.Estado.IdEstadoPedido != 5)
    {
        <h5><i class="fas fa-info-circle"></i>&nbsp;Actualizar estado</h5>
        <div id="accionesPedido">
            <div class="row form-group">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-form-label">Estado</label>
                        <select class="form-control" id="estadoPedido">
                            @foreach (var estado in Estados)
                            {
                                <option value="@estado.IdEstadoPedido">@estado.NombreEstado</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-2">
                    <button class="btn btn-danger" id="btnRechazarPedido" onclick="RechazarPedido('@guidPedido')">Rechazar</button>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <button class="btn btn-success" onclick="ActualizarPedido('@guidPedido')">Actualizar info.</button>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tablaPedidoInfo').DataTable({
                responsive: true,
                order: [[0, 'desc']],
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todo"]],
                stateSave: true,
                dom: 'Bfrtip',
                buttons: ['excel', 'pdf'],
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
                }
            });
        });

        function RechazarPedido(idPedido) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "Este proceso enviará una notificación al cliente.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Rechazar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    const dataString = "{" +
                        " \"idPedido\" : \"" + idPedido + "\"," +
                        " \"idEstado\" : 5" +
                        "}";
                    $.ajax({
                        url: '@Url.Action("ActualizarPedido","Pedidos")',
                        type: 'POST',
                        async: true,
                        data: dataString,
                        contentType: "application/json; charset=utf-8",
                        success: function() {
                            Swal.fire({
                                title: '¡Rechazado!',
                                text: 'Se ha enviado un email de confirmación.',
                                icon: 'info',
                                confirmButtonText: 'Ok'
                            }).then((result) => {
                                location.reload();
                            });
                        },
                        error: function(response) {
                            Swal.fire(
                                '¡Error!',
                                'Ha ocurrido un error de tipo ' + response.responseText,
                                'error'
                            );
                        }
                    });
                }
            });
        }

        function ActualizarPedido(idPedido) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "Este proceso enviará una notificación al cliente.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Actualizar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    let estadoSeleccionado = $("#estadoPedido").val();
                    const dataString = "{" +
                                        " \"idPedido\" : \"" + idPedido + "\"," +
                                        " \"idEstado\" : " + estadoSeleccionado + "" +
                                        "}";
                    $.ajax({
                        url: '@Url.Action("ActualizarPedido","Pedidos")',
                        type: 'POST',
                        async: true,
                        data: dataString,
                        contentType: "application/json; charset=utf-8",
                        success: function() {
                            Swal.fire({
                                title: '¡Actualizado!',
                                text: 'Se ha enviado un email de confirmación.',
                                icon: 'success',
                                confirmButtonText: 'Ok'
                            }).then((result) => {
                                location.reload();
                            });
                        },
                        error: function(response) {
                            Swal.fire(
                                '¡Error!',
                                'Ha ocurrido un error de tipo ' + response.responseText,
                                'error'
                            );
                        }
                    });
                }
            });
        }

    </script>
}